.posts {
	article {
		// background-color: #fff;
		// border-bottom: 1px solid #eeeeee;
		margin-bottom: 20px;
		padding-bottom: 20px;

		// .image {
		// 	margin: 0 -15px 15px -15px;
		// }
		.tags {
			margin-bottom: 3px;
			> li {
				font-size: 13px;
				> a {
					color: #e36209;
				}
			}
		}
		.title,
		.summary {
			font-size: 14px;
		}
		.title {
		    font-weight: 600;
		    line-height: 1.25em;
		    margin-top: -1px;
		    // margin-bottom: 6px;
		    white-space: pre-wrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			a {
			    color: #0366d6;
			}
		}
		.newspaper-datetime {
			font-family: $font-family-sans-serif-2;
			color: #657786;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 0;
			word-wrap: break-word;
			a {
				color: #657786;
				&.cultura {
					color: #2A014B;
				}
				&.policiales {
					color: #0092CA;
				}
				&.politica {
					color: #027B7E;
				}
				&.deportes {
					color: #BE3144;
				}

			}
		}
		.summary {
			color: #14171a;
			margin-top: 5px;
			margin-bottom: 0;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&.more {
				display: block;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}
		footer {
			.action {
				ul {
					margin-bottom: 0;
				}
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}

}

@media #{$tablets} {
	.container-fluid {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.posts {
		article {
			.image {
				margin: 0 -15px 0 0;
			}
			.image {
				img {
					border: 1px solid #fafafa;
					border-radius: 3px;
				}
			}
			.title,
			.summary {
				font-size: 16px;
			}
			.summary {
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}
	}
}