.posts {
	border: none;
	article {
		border-bottom: 20px solid $body-bg;
		padding-bottom: 18px;

		.image {
			margin: 0 -15px;
		}
		.tags {
			margin-bottom: 3px;
			> li {
				font-size: 13px;
				> a {
					color: #e36209;
				}
			}
		}
		.title {
			font-size: 16px;
		    font-weight: 600;
		    line-height: 1.25em;
		    margin-top: 15px;
		    margin-bottom: 5px;
			a {
			    color: #0366d6;
			}
		}
		.summary {
			// color: #333;
			font-size: 14px;
		}
		footer {
			.newspaper-datetime {
				font-size: 11px;
				color: #8899A6;
			}
			.action {
				ul {
					margin-bottom: 0;
				}
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media #{$tablets} {
	.posts {
		border: 1px solid #eaeaea;
		article {
			border-bottom: 1px solid #eaeaea;
			.image {
				margin: 18px 0 0;
				img { border: 1px solid #eee; }
			}
		}
	}
}