.posts {
	border: none;
	article {
		border-bottom: 15px solid $body-bg;
		padding: 16px 0 15px 0;
		.image {
			margin: -16px -15px 15px -15px;
		}
		.tags {
			margin-bottom: 3px;
			> li {
				font-size: 13px;
				> a {
					color: #e36209;
				}
			}
		}
		.title {
			font-size: 16px;
		    font-weight: 600;
		    line-height: 1.25em;
		    margin-top: 0;
		    margin-bottom: 6px;
		    white-space: pre-wrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			a {
			    color: #0366d6;
			}
		}
		.newspaper-datetime {
			color: #657786;
			margin-top: 0;
			margin-bottom: 0;
			word-wrap: break-word;
			a {
				color: #657786;
			}
		}
		.summary {
			color: #14171a;
			font-size: 14px;
			white-space: pre-wrap;
			word-wrap: break-word;
			display: block;
		    -webkit-margin-before: 6px;
		    -webkit-margin-after: 0;
		    -webkit-margin-start: 0px;
		    -webkit-margin-end: 0px;
		}
		footer {
			.action {
				ul {
					margin-bottom: 0;
				}
			}
		}
		&:last-child {
			border-bottom: 0;
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media #{$tablets} {
	.posts {
		article {
			border-bottom: 1px solid #eaeaea;
			padding: 19px 0;
			.image {
				margin: 0;
				img { border: 1px solid #ccc; }
			}
		}
	}
}