.navbar-default {
	font-family: $font-family-sans-serif-2;
	.navbar-brand {
		color: #0E2F56;
		// padding-left: 70px;
		// position: absolute;
		// padding: 5px 0;
		padding: 10px 15px;
		i {
			color: #118DF0;
			font-size: 36px;
			width: 44px;
			position: absolute;
			top: 8px;
			right: 15px;
			left: 15px;
		}
		img {
			height: 100%;
			width: auto;
		}
	}
	.navbar-nav {
		> li > a {
			// color: $navbar-default-link-color;
			&:hover,
			&:focus {
				color: $brand-primary;
				background-color: $navbar-default-link-hover-bg;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: #fff;
				background-color: $brand-primary;
				border-bottom: none;
			}
		}
	}
}

@media #{$tablets} {
	.navbar-default {
		.navbar-brand {
			padding: 10px 0 10px 15px;
			img {
				height: 100%;
				width: auto;
			}
		}
		.navbar-nav {
			> li > a {
				// color: $navbar-default-link-color;

				&:hover,
				&:focus {
					color: $brand-primary;
					background-color: $navbar-default-link-hover-bg;
				}
			}
			> .active > a {
				&,
				&:hover,
				&:focus {
					color: $text-color;
					background-color: #fff;
					padding-bottom: 11px;
					border-bottom: 3px solid $brand-primary;
				}
			}
	}
	}
}