.panel {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .03);

    .panel-heading {
    	border-radius: 0;
    	background-color: #f9fbfd;
    	border-bottom: 1px solid #eaeaea;

    	h3 {
    		font-size: 18px;
    		margin-top: 7px;
    		margin-bottom: 0;
    	}
    }
}