.panel {
    border: 1px solid lighten($laravel-border-color, 5%);
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .02);

    .panel-heading {
    	border-radius: 0;
    	background-color: #fafafa;
    	border-bottom: 1px solid #eaeaea;
    }
}