.panel {
    border: 1px solid #e6ecf0;
    border-radius: 0;
    // box-shadow: 0 1px 1px rgba(0, 0, 0, .03);
    box-shadow: none;
    margin-bottom: 10px;
    
    .panel-heading {
    	border-radius: 0;
    	background-color: #f5f8fa;
    	border-bottom: 1px solid #e6ecf0;

    	h3 {
    		font-size: 18px;
    		margin-top: 7px;
    		margin-bottom: 5px;
    	}
    }
}

@media #{$tablets} {
    .panel {
        margin-bottom: 20px;
    }
}