.settings-stacked-tabs {
	border-radius: $border-radius-base;
	font-weight: 300;

	a {
		border-bottom: 1px solid lighten($laravel-border-color, 5%);
		// border-left: 3px solid transparent;
		color: #777;

		i {
			color: lighten($text-color, 25%);
			position: relative;
		}
	}

	li {
		a {
			&:hover,
			&:focus {
				background-color: #fafafa;
			}
		}
		&:last-child a {
			border-bottom: 0;
		}
	}
    li.active a {
		background-color: #fff;
        color: $text-color;
        border-left: 2px solid $brand-primary;
        padding-left: 13px;
	}
}