// Body
// $body-bg: #f6f4f2;
$body-bg: #fff;

// Borders
// $laravel-border-color: darken($body-bg,15%);
$laravel-border-color: #eeeeee;
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: #e0e0e0;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #0366d6;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
// $font-family-sans-serif: "Raleway", sans-serif;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: Arial, sans-serif;
$font-family-sans-serif-2: 'Roboto', sans-serif;
$font-size-base: 15px;
$line-height-base: 1.5;
$text-color: #333;

// Navbar
$navbar-default-bg: #fafafa;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 50%);
$input-border-focus: lighten($brand-primary, 35%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: $body-bg;

$tablets: "(min-width: 768px)";
$desktops: "(min-width: 992px)";